<ion-content>
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="https://ionicframework.com/docs/demos/api/slides/slide-1.png"/>
        <h2>Bienvenido a Ingresos</h2>
        <p>Podrás ver tu historial de ingresos <b> en tiempo real</b> desliza hacia la derecha para continuar.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="https://ionicframework.com/docs/demos/api/slides/slide-2.png"/>
      <h2>Acceso más rápido a datos</h2>
      <p><b>No necesitas ingresas desde tu computador</b> puedes acceder desde tu celular para visualizar los datos que necesitas</p>
    </ion-slide>

    <ion-slide>
      <img src="https://ionicframework.com/docs/demos/api/slides/slide-3.png"/>
      <h2>Soporte en tiempo real</h2>
      <p><b>El equipo de ingresos</b> te orientará en caso de que tengas dudas. Estamos para ayudarte!</p>
      <ion-button fill="clear">Finalizar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>