<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="register-container">
    <ion-card class="card-register-container">
      <ion-card-header>
        <ion-card-subtitle>Registro</ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content>
        <!-- Input with placeholder -->
        <ion-input placeholder="Nombre" type="text"></ion-input>
        <ion-input placeholder="Apellido" type="text"></ion-input>
        <ion-input placeholder="Correo electrónico" type="email"></ion-input>
        <ion-input placeholder="Password" type="password"></ion-input>
        <ion-button expand="block">Registro</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>